# ignore tl output files
workspace/examples/outputs/*

# ignore images generated for figures
workspace/examples/figures

# ignore vscode container config files
.vscode/
.devcontainer/

# ignore container settings files 
# why are these here??
**/.bash_history
**/.bashrc
**/.cache/
**/.config/
**/.cursor/
**/.cursor-server/
**/.devcontainer/
**/.gitconfig
**/.ipython/
**/.jupyter/
**/.local/
**/.profile
**/.python_history
**/.ssh/
**/.vscode/

# ignore python cache files
**/__pycache__/

# ignore macOS files
**/.DS_Store